<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="CONSOLE_LOG_PATTERN" value="[%X{receiveTime}%d] [${PID:- } %t\\(%logger\\) : %p]%n%X{requestInfo}%class.%method\\(%file:%line\\)%n%m%n%n"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />


    <logger name="zipkin.autoconfigure" level="warn"/>
    <logger name="io.undertow" level="warn"/>
    <logger name="freemarker" level="warn"/>

    <logger name="com.github.common.mvc" level="warn"/>

    <logger name="com.netflix" level="warn"/>
    <!--<logger name="com.github" level="warn"/>-->
    <logger name="com.zaxxer" level="warn"/>
    <logger name="com.sun" level="warn"/>

    <logger name="org.springframework" level="warn"/>
    <logger name="org.hibernate" level="warn"/>
    <logger name="org.mybatis" level="warn"/>
    <logger name="org.apache" level="warn"/>
    <logger name="org.jboss" level="warn"/>


    <root level="debug">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
