<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="FILE_PATH_TEST" value="${user.home}/logs/web-backend-test"/>
    <property name="LOG_PATTERN_TEST" value="[%X{receiveTime}%d] [${PID:- } %t\\(%logger\\) : %p]%X{requestInfo} %class{30}#%method\\(%file:%line\\)%n%m%n%n"/>
    <property name="SAVE_FILE_TEST" value="7"/>

    <property name="FILE_PATH_PROD" value="${user.home}/logs/web-backend-prod"/>
    <property name="LOG_PATTERN_PROD" value="[%X{receiveTime}%d] [${PID:- } %t\\(%logger\\) : %p]%X{requestInfo} %class{30}#%method\\(%file:%line\\) %m%n%n"/>
    <property name="SAVE_FILE_PROD" value="15"/>


    <logger name="zipkin.autoconfigure" level="warn"/>
    <logger name="io.undertow" level="warn"/>
    <logger name="freemarker" level="warn"/>

    <logger name="com.github.common.mvc" level="warn"/>

    <logger name="com.netflix" level="error"/>
    <!--<logger name="com.github" level="warn"/>-->
    <logger name="com.zaxxer" level="warn"/>
    <logger name="com.sun" level="warn"/>

    <logger name="org.springframework" level="warn"/>
    <logger name="org.hibernate" level="warn"/>
    <logger name="org.mybatis" level="warn"/>
    <logger name="org.apache" level="warn"/>
    <logger name="org.jboss" level="warn"/>


    <springProfile name="dev,default,native">
        <include resource="org/springframework/boot/logging/logback/defaults.xml" />
        <property name="CONSOLE_LOG_PATTERN" value="%d [${PID:- } %t\\(%logger\\) : %p]%n%class.%method\\(%file:%line\\)%n%m%n%n"/>
        <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

        <root level="debug">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>


    <springProfile name="test">
        <appender name="PROJECT" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${FILE_PATH_TEST}.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${FILE_PATH_TEST}-%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>${SAVE_FILE_TEST}</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${LOG_PATTERN_TEST}</pattern>
            </encoder>
        </appender>

        <root level="debug">
            <appender-ref ref="PROJECT"/>
        </root>
    </springProfile>


    <springProfile name="prod">
        <appender name="PROJECT" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${FILE_PATH_PROD}.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${FILE_PATH_PROD}-%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>${SAVE_FILE_PROD}</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${LOG_PATTERN_PROD}</pattern>
            </encoder>
        </appender>
        <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
            <discardingThreshold>0</discardingThreshold>
            <includeCallerData>true</includeCallerData>
            <appender-ref ref ="PROJECT"/>
        </appender>

        <root level="info">
            <appender-ref ref="ASYNC"/>
        </root>
    </springProfile>
</configuration>
